[submodule "module"]
	path = module
	url = https://github.com/Roblox/testez
[submodule "modules"]
	path = modules
	url = https://github.com/Roblox/testez
[submodule "TestEZ"]
	path = TestEZ
	url = https://github.com/Roblox/testez
